/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 ul li {
    display: block;
    list-style: none;
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-family: "Gill Sans", sans-serif;
    }

button {
    color: white;
    background-color: black;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.top-bar {
    display: inline-block;
    vertical-align: middle;
    }

table {
    border-collapse: collapse;
    }
h1 {
    font-family: "Gill Sans", sans-serif;
}
table tr {
    border-top-style: solid;
    border-top-color: rgb(71, 63, 63);
    border-top-width: thin;
    border-bottom-style: solid;
    border-bottom-color: rgb(71, 63, 63);
    border-bottom-width: thin;
    font-family: "Gill Sans", sans-serif;
    font-size: large;
}
td {
    width: 20em;
}
td:nth-child(2){
    text-align: right;
}
hr {
    color: rgb(71, 63, 63);
}